@font-face {
    font-family: "Basier Circle";
    src: local("../../fonts/basiercircle-regular-webfont.woff2"),
("../../fonts/basiercircle-regular-webfont.woff"),
}

@font-face {
    font-family: "Basier Square";
    src: local("../../fonts/basiersquare-regular-webfont.woff2"),
("../../fonts/basiersquare-regular-webfont.woff"),
}

h1 {
    font-family: 'Basier Circle';
    color: #191C1F;
    font-size: 3.75rem;
    text-align: center;
    margin: 0;
}

p {
    font-family: 'Roboto';
    color: #191C1F;
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
}