@font-face {
    font-family: "Basier Circle";
    src: local("../../fonts/basiercircle-regular-webfont.woff2"),
("../../fonts/basiercircle-regular-webfont.woff"),
}

@font-face {
    font-family: "Basier Square";
    src: local("../../fonts/basiersquare-regular-webfont.woff2"),
("../../fonts/basiersquare-regular-webfont.woff"),
}

h1, h2 {
    font-family: 'Basier Circle';
    font-style: normal;
    color: #191C1F;
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 4.5rem;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0;
}

h2 {
    margin: 1rem 0 1.5rem;
}

h3 {
    font-family: 'Basier Circle';
    font-style: normal;
    color: #191C1F;
    font-size: 2.125rem;
    font-weight: 600;
    line-height: 2.5rem;
    margin: 0;
    margin-bottom: 1.5rem;
    z-index: 100;
}

.h3-white {
    color: #ffffff;
}

.h3-grey {
    color: #ffffff;
    opacity: .5;
    text-align: center;
    font-weight: 400;
}

.h3-small{
    margin-bottom: .5rem;
}

h4 {
    font-family: 'Basier Circle';
    font-style: normal;
    color: #191C1F;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    z-index: 100;
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    color: #191C1F;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
    text-align: center;
    margin: 0;
}

.p-grey {
    color: #505A63;
}

.footer .p-grey {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.p-white{
    color: #ffffff;
}