.cards {
    display: flex;
    max-height: fit-content;    
    border-radius: 20px;
    cursor: pointer;
}

.cards:hover .cards__img {
    transform: scale(1.05);
}

.cards .cards__img {
    border-radius: 20px;
    width: 100%;
    transition: .7s;
}

.cards .cards__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 2.5rem;
}

.cards .content__block {
    padding-left: 1rem;
    z-index: 100;
}

.french__cards {
    background: #ffffff;
}

.cards {
    position: relative;
    height: 524px;
    width: 100%;
    overflow: hidden;
}

.cards .cards__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards .cards__content {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
}

.cards p {
    text-align: left;
}

.cards--half {
    height: 580px;
}

.cards--half .cards__content {
    width: 100%;
}
