.cards {
    display: flex;
    max-height: fit-content;
    background: #FFFFFF;
    border-radius: 20px;
}

.cards__img {
    border-radius: 20px;
}

.cards__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 2.5rem;
}

.text__block {
    padding-left: 1rem;
}

