.main__first {
    position: relative;
}

.main__image {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: auto;
    height: 80vh;
}

.main__content h1 {
    max-width: 80%;
}

.main__content p {
    max-width: 60%;
}
